/.github/ @davidepanidev
/gradle/ @davidepanidev
.gitignore @davidepanidev
*.md @davidepanidev
/LICENSE @davidepanidev
*.bat @davidepanidev
*.pro @davidepanidev
/gradlew @davidepanidev
/metadata/ @davidepanidev
/* @davidepanidev
